__pycache__
*.pyc
/.cache
*.orig
*.xml
.coverage
*.egg-info
.pytest_cache

# Various directory index, temp file and editor's config
*.DS_Store
*.idea
.*.sw?
.vscode/

# virtualenv
.envs/
.venv/
venv/
.venv_*/
build/
dist/


# Ignore compiled translation catalogs
*.mo

# Vim lsp
.vim-lsp-settings/

# Go
.task

# Firebase
.firebase/

